.aboutDropdowns {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 200px;
}
.aboutDropDown {
  width: 1000px;
  margin-top: 30px;
}
.aboutDroptitle {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
}
.aboutDropDownChevron {
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  width: 1023px;
  border-radius: 10px;
}
.aboutBoxTextDescription {
  height: 146px;
  width: 1023px;
  border-radius: 5px;
  background: #f6f6f6;
  color: #ff6060;
  left: 0%;
  right: 0%;
  top: 80.77%;
  bottom: -459.62%;
  font-size: 18px;
}
.textAbout {
  padding: 10px;
  margin: 0;
}
@media screen and (max-width: 426px) {
  .aboutDropDown {
    width: 335px;
  }
  .aboutDroptitle {
    font-size: 14px;
    /* margin-top: 5px; */
  }
  .aboutDropDownChevron {
    width: 100%;
    height: 30px;
  }
  .aboutDropdowns {
    width: 335px;
    margin-left: 20px;
  }
  .aboutBoxTextDescription {
    height: 143.65383911132812px;
    width: 335px;
    border-radius: 5px;
    font-size: 14px;
  }
}
