.carrousel {
  height: 415px;
  width: 1240px;
  margin-top: 37px;
  margin-left: 100px;
  border-radius: 25px;
}
.carrouselImg {
  object-fit: cover;
  height: 415px;
  width: 1240px;
  border-radius: 25px;
}
.arrows {
  position: absolute;
  border: 1px solid;
}
.vectorLeft {
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 8%;
}
.vectorRight {
  cursor: pointer;
  position: ABSOLUTE;
  left: 83%;
  top: 42%;
}
.active {
  object-fit: cover;
  height: 415px;
  width: 1240px;
}
@media screen and (max-width: 426px) {
  .main {
    margin-left: 40px;
  }
  .carrousel {
    width: 335px;
    height: 255px;
    margin-left: 0;
  }
  .front {
    flex-direction: column;
    width: 320px;
    margin: 0;
  }
  .locationTitlePosition {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 46px;
    margin-left: 0;
  }
  .location {
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
  }
  .oneTitle {
    width: 335px;
    height: 46px;
    margin: 0;
    font-size: 18px;
    white-space: break-spaces;
  }
  .tagsEtoile {
    margin-left: 0;
    width: 335px;
    margin-top: 40px;
    flex-direction: row-reverse;
    display: FLEX;
    justify-content: space-between;
  }
  .tags {
    margin-left: 0px;
  }
  .tag {
    width: 100px;
    margin-left: 0px;
  }
  .active {
    width: 335px;
    height: 255px;
  }
  .carrouselImg {
    width: 335px;
    height: 255px;
  }
  .vectorLeft {
    top: 30%;
    left: 11%;
    width: 25px;
  }
  .vectorRight {
    left: 80%;
    top: 30%;
    width: 25px;
  }
}
@media screen and (max-width: 412px) {
  .vectorLeft .vectorRight {
    top: 28%;
  }
}
@media screen and (max-width: 360px) {
  .vectorLeft {
    top: 33%;
    left: 14%;
  }
  .vectorRight {
    top: 33%;
    left: 90%;
  }
}
