/* .equipementBox {
  height: 52px;
  width: 582px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 80.77%;
  bottom: -459.62%;
}
.equipementChevron {
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.chevron {
  height: 26.40000152587893px;
  width: 15.560005187988295px;
  left: 29.2000732421875px;
  top: 7.786651611328125px;
  border-radius: 0px;
  rotate: 180;
}
.boxTextEquipement,
.boxTextDescription {
  height: 249px;
  width: 582px;
  left: 0px;
  top: 42px;
  border-radius: 10px;
  background: #746b6b;
} */
