.footer {
  position: relative;
  width: 100%;
  height: 209px;
  top: 200px;
  background: black;
}
.footer img {
  height: 40px;
  width: 122px;

  position: absolute;
  left: 45.76%;
  right: 45.76%;
  top: 31.58%;
  bottom: 49.55%;
}
@media screen and (max-width: 425px) {
  .footer {
    width: 425px;
  }
  .footer img {
    left: 37.76%;
  }
}
