.gallery {
  background: #f6f6f6;

  width: 1240px;

  margin-left: 100px;
  margin-top: 43px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.imgCover {
  position: relative;
  /* position: relative;
  top: 50px;
  left: 50px;
  right: 50px; */
  margin-top: 56px;
  margin-left: 50px;
  width: 340px;
  height: 340px;

  border-radius: 10px;
  border: 1px solid black;
}
.imgCover img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}
.title {
  position: absolute;

  left: 4%;
  top: 85%;
  right: 5.88%;

  bottom: 5.88%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  /* align-items: flex-end; */
  color: #ffffff;
}
