.homeMain {
  width: 1240px;
}
.background {
  /* position: absolute; */
  width: 1240px;
  height: 223px;
  margin-left: 100px;
  margin-top: 50px;

  background: #000000;
  mix-blend-mode: darken;

  border-radius: 25px;
}
.background img {
  height: 223px;
  left: 100px;
  top: 171px;
  border-radius: 25px;
  display: block;
  width: 100%;
}
.cta {
  height: 68px;
  width: 705px;
  position: absolute;
  color: white;
  left: 23.9%;
  right: 26.14%;
  top: 33.32%;
  bottom: 69.04%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;

  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 426px) {
  .homeMain {
    width: 425px;
  }
  .navBar {
    width: 335px;
    /* height: 111px; */
    margin-left: 20px;
  }
  .logo img {
    width: 100%;
  }
  /* .logo {
    height: 47px;
    width: 145px;
  } */
  .background img {
    width: 335px;
    height: 111px;
    object-fit: cover;
  }
  .liNavbar {
    font-size: 16px;
  }
  .background {
    width: 335px;
    height: 111px;
    margin-left: 20px;
  }
  .background img {
    width: 100%;
    object-fit: cover;
  }
  .cta {
    height: 48px;
    width: 217px;
    position: absolute;
    font-size: 24px;
    top: 27%;
    left: 17%;
  }
}
/* .gallery {
  width: 425px;
  margin: 0;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
} */
