.oneTitle {
  width: 635px;
  height: 51px;
  margin-top: 30px;
  margin-left: 100px;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}
.dropDownTitle {
  color: #ffffff;
}
.location {
  width: 300px;
  height: 26px;
  margin-left: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
}
.dropDowns {
  display: flex;
  margin-top: 25px;
  gap: 78px;
  margin-left: 100px;
}
.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDownChevron {
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  height: 52px;
  width: 582px;
  border-radius: 10px;
}
.chevron {
  height: 26.40000152587893px;
  width: 15.560005187988295px;
  left: 29.200027465820312px;
  top: 7.78662109375px;
  border-radius: 0px;
}
.dropDownTitle {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
.boxTextDescription {
  width: 582px;
  height: 249px;
  background: #f6f6f6;
  color: #ff6060;

  font-size: 18px;
}
.text {
  padding: 10px;
}

.equipementList {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.tags {
  margin-left: 90px;
  display: flex;
  margin-top: 15px;
}
.tag {
  width: 135px;
  text-align: center;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  margin-left: 10px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tagText {
  /* width: 100%;
  color: #ffffff; */
  white-space: nowrap;
}
