.oneTitle {
  width: 635px;
  height: 51px;
  margin-top: 30px;

  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}
.locationPostion {
  margin-left: 100px;
}
.dropDownTitle {
  color: #ffffff;
}
.locationTitlePosition {
  margin-left: 100px;
}
.location {
  width: 300px;
  height: 26px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
}
.dropDowns {
  display: flex;
  margin-top: 25px;
  gap: 78px;
  margin-left: 100px;
}
.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDownChevron {
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  height: 52px;
  width: 582px;
  border-radius: 10px;
}
.chevron {
  height: 19px;
  width: 27px;
  margin-top: 21px;
  margin-right: 10px;
}
.chevronDown {
  height: 19px;
  width: 27px;
  margin-top: 21px;
  margin-right: 10px;
  rotate: 90deg;
}
.dropDownTitle {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
.boxTextDescription {
  width: 582px;
  height: 249px;
  background: #f6f6f6;
  color: #ff6060;

  font-size: 18px;
}
.text {
  padding: 10px;
}

.equipementList {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.tags {
  display: flex;
  margin-top: 20px;
}
.tag {
  width: 135px;
  text-align: center;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tagText {
  /* width: 100%;
  color: #ffffff; */
  white-space: nowrap;
}
.front {
  display: flex;
  justify-content: space-between;
  margin-right: 170px;
}
.host {
  display: flex;
  margin-top: 40px;
}
.allStars {
  height: 36px;
  width: 196px;
  display: flex;
  margin-left: 15px;
}
.stars img {
  width: 100%;
}
.chevronrotate {
  rotate: 90deg;
}
.name {
  width: 93px;
  height: 52px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: #ff6060;
  margin-right: 10px;
}
.hostImage {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media screen and (max-width: 426px) {
  .name {
    font-size: 14px;
    text-align: unset;
  }
  .hostImage {
    width: 32px;
    height: 32px;
    margin-top: 10px;
  }
  .dropDowns {
    width: 335px;
    margin-left: 0px;
    border-radius: 5px;
    flex-direction: column;
    gap: 45px;
  }
  .dropDown {
    width: 100%;
  }
  .dropDownTitle {
    font-size: 11px;
  }
  .dropDownChevron {
    height: 29.931270599365234px;
    width: 335px;
    border-radius: 5px;
  }
  .chevron {
    height: 14px;
    width: 22px;
    margin-top: 12px;
    margin-right: 10px;
  }

  .boxTextDescription {
    height: 143.32472229003906px;
    width: 335px;
    font-size: 12px;
    border-radius: 5px;
  }
  .allStars {
    margin-top: 50px;
    margin-left: 0;
  }
  .stars {
    width: 15px;
    height: 15px;
  }
}
