.oneTitle {
  width: 635px;
  height: 51px;
  position: absolute;
  left: 6.94%;
  right: 48.96%;
  top: 83%;
  bottom: 39.06%;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}
.dropDownTitle {
  color: #ffffff;
}
.location {
  width: 300px;
  height: 26px;
  position: absolute;
  left: 6.94%;
  right: 80.83%;
  top: 87%;
  bottom: 36.52%;
  margin-top: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
}
.dropDowns {
  position: absolute;
  top: 102%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 65px;
  margin-left: 100px;
}
.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDownChevron {
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  height: 52px;
  width: 582px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}
.chevron {
  height: 26.40000152587893px;
  width: 15.560005187988295px;
  left: 29.200027465820312px;
  top: 7.78662109375px;
  border-radius: 0px;
}
.dropDownTitle {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

.carrousel {
  position: absolute;
  height: 415px;
  width: 1240px;
  left: 6.5%;
  top: 20%;
  border-radius: 25px;
  background: #866464;
}
.boxTextDescription {
  width: 582px;
  height: 249px;
  background: #f6f6f6;
  color: #ff6060;
  left: 0%;
  right: 0%;
  top: 80.77%;
  bottom: -459.62%;
  font-size: 18px;
}
.text {
  padding: 20px;
}
.equipementList {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.tags {
  position: absolute;
  top: 94%;
  left: 7%;
  display: flex;
}
.tag {
  width: 135px;
  text-align: center;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tagText {
  /* width: 100%;
  color: #ffffff; */
  white-space: nowrap;
}
